/*
___________.__       .__       .____          ___.           
\_   _____/|  |___  _|__| ____ |    |   _____ \_ |__   ______
 |    __)_ |  |\  \/ /  |/    \|    |   \__  \ | __ \ /  ___/
 |        \|  |_\   /|  |   |  \    |___ / __ \| \_\ \\___ \ 
/_______  /|____/\_/ |__|___|  /_______ (____  /___  /____  >
        \/                   \/        \/    \/    \/     \/

(c) ElvinLabs, 2015
        - elvinlabs.github.io
        - github.com/elvinlabs
*/

body{

    
}


.index, .proj {
    font-family: 'helveticaneue', 'helvetica', 'droid sans', arial;
}

.proj-tag {
    border-radius: 4px;
    display: inline-block;
    margin: 4px 1px;
    visibility: visible;
}

.proj-tag a{
    text-decoration: none;
    padding: 4px 20px;
    color: white;
    border-radius: 4px;
}

hr{border-top: 1px solid #C9C9C9;}

.proj-tag a:hover {
    text-decoration: none;
    color: #404040;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -o-transition: color 400ms;
    -ms-transition: color 400ms;
    transition: color 400ms;
}

.bg-blue :hover{ background-color: #9ee5ff; }
.bg-green :hover{ background-color: #aafa87; }
.bg-pink :hover{ background-color: #f78cca; }
.bg-orange :hover{ background-color: #ffd07b; }
.bg-gold :hover{ background-color: #fce87d; }
.bg-red :hover{ background-color: #ffa3a3; }

.bg-blue  { background-color: #3498db; }
.bg-green  { background-color: #2ecc71; }
.bg-pink  { background-color: #e356a8; }
.bg-orange { background-color: #f39c12; }
.bg-gold  { background-color: #f1c40f; }
.bg-red  { background-color: #e74c3c; }

.post-meta {
    font-style: italic;
    color: #aaa;
}

.proj-imgs {
    position: relative;
    font-size:10pt;
    text-align:center;
}

.proj-imgs img {
    max-width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.georgia {
    font-family: georgia, 'times new roman', times, serif;
}

.scroll-top{
    position:fixed;
    z-index: 1000;
    margin-top: -150px;
    visibility: hidden;
}

.scroll{
     width: 30px;
    height: 10px;
}

.time-date{
    font-family: 'helveticaneue', 'helvetica', 'droid sans', arial;
    background-color: rgba(255,255,255,0.5);
    color:#404040;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.8);;
    border-radius: 15px;
}

.intro-header .site-heading h1{
    font-size: 45px;   
}

.intro-header .site-heading{
    padding: 60px 0px;   
}

@media(max-width:1000px){
    .navbar-brand{
        visibility: hidden;   
    }
}


.dropdown-menu li{
    background-color: #000;
    line-height: 12px;
}


.inverse{
    background-color: rgba(000,000,000,0.8);
}
.navbar-nav > .open > a {
    background-color: rgba(000,000,000,0.8);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color:rgba(000,000,000,0.6);
}

/*
.dropdown-menu li a{
  margin: -10px 0 -10px 0;
}

.dropdown-menu li:hover{
    background-color: #3698db;
}
*/
